* {
    margin: 0;
    padding: 0; 
}

#sidebar {
    position: fixed;
    width: 250px;
    height: 200%;
    background: #151719;
}


 
#sidebar ul li {
    text-aling: center; 
    padding: 15px 10px;
    border-botton: 1px solid rgba(100, 100, 100, .3);
}

.logo{
display: block;
margin: 0 auto; 
}
